<li>
	<h1><a href="{{link}}">{{title}}</a>
	    <button class="savearticle" data-id="{{_id}}">Delete From Saved</button>
        <button class="articlenotes" data-id="{{_id}}">Article Notes</button>
    </h1>
    <p class="bylines">{{byline}}</p>
    <p class="summary">{{summary}}</p>
</li>